<a href="https://colab.research.google.com/github/JairGF05/merge_join_concat_pandas/blob/main/combinando_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np

In [24]:
diccionario = {
    'A':['A0','A1','A2','A3'], 
    'B':['B0','B1','B2','B3'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']
}
diccionario

{'A': ['A0', 'A1', 'A2', 'A3'],
 'B': ['B0', 'B1', 'B2', 'B3'],
 'C': ['C0', 'C1', 'C2', 'C3'],
 'D': ['D0', 'D1', 'D2', 'D3']}

In [25]:
df1 = pd.DataFrame(diccionario)
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [26]:
df2 = pd.DataFrame({
     'A':['A4','A5','A6','A7'], 
    'B':['B4','B5','B6','B7'],
    'C':['C4','C5','C6','C7'],
    'D':['D4','D5','D6','D7']
})
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

# **Concat**

In [27]:
pd.concat([df1, df2])
#En este caso los indices heredan el indice anterior por lo que estan repetidos

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [28]:
#para corregir los indices repetidos
pd.concat([df1, df2],ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [29]:
#Por default lo hace por axis 0 (filas) pero puedo especificar que sea por columnas 1
pd.concat([df1, df2],ignore_index=True, axis=1)

    0   1   2   3   4   5   6   7
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

# **Merge**

In [30]:
dic_2 = {
    'key': ['k0','k1','k2','k3'],
    'A':['A0','A1','A2','A3'], 
    'B':['B0','B1','B2','B3'],

}

dic_3 = {
    'key': ['k0','k1','k2','k3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}

In [31]:
izq = pd.DataFrame(dic_2)
izq

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [32]:
der = pd.DataFrame(dic_3)
der

  key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [33]:
#merge, en este caso se hara una combinación de izquierda con derecha
#es bueno especificar que el merge se haga sobre una columna especifica
#en este caso la key
izq.merge(der, on='key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [34]:
dic_2 = {
    'key': ['k0','k1','k2','k3'],
    'A':['A0','A1','A2','A3'], 
    'B':['B0','B1','B2','B3'],

}

dic_3 = {
    'key_2': ['k0','k1','k2','k3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}

In [35]:
izq = pd.DataFrame(dic_2)
izq

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [36]:
der = pd.DataFrame(dic_3)
der

  key_2   C   D
0    k0  C0  D0
1    k1  C1  D1
2    k2  C2  D2
3    k3  C3  D3

In [37]:
#merge
izq.merge(der, left_on='key', right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2
3  k3  A3  B3    k3  C3  D3

In [38]:
#modificando los dataframes
dic_2 = {
    'key': ['k0','k1','k2','k3'],
    'A':['A0','A1','A2','A3'], 
    'B':['B0','B1','B2','B3'],

}

dic_3 = {
    'key_2': ['k0','k1','k2',np.nan],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}

In [39]:
izq = pd.DataFrame(dic_2)
der = pd.DataFrame(dic_3)

In [40]:
izq

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [41]:
der

  key_2   C   D
0    k0  C0  D0
1    k1  C1  D1
2    k2  C2  D2
3   NaN  C3  D3

In [42]:
izq.merge(der, left_on='key', right_on='key_2')#inner join solo trae las coincidencias

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2

In [43]:
#especificar que sea un left join
izq.merge(der, left_on='key', right_on='key_2', how='left')

  key   A   B key_2    C    D
0  k0  A0  B0    k0   C0   D0
1  k1  A1  B1    k1   C1   D1
2  k2  A2  B2    k2   C2   D2
3  k3  A3  B3   NaN  NaN  NaN

In [44]:
#inner join
izq.merge(der, left_on='key', right_on='key_2', how='inner')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2

In [45]:
#right join
izq.merge(der, left_on='key', right_on='key_2', how='right')

   key    A    B key_2   C   D
0   k0   A0   B0    k0  C0  D0
1   k1   A1   B1    k1  C1  D1
2   k2   A2   B2    k2  C2  D2
3  NaN  NaN  NaN   NaN  C3  D3

# **Join- Index match**

In [47]:
#va a buscar el match a traves de indices y no de columnas como se mostró anteriormente CON MERGE.
izq = pd.DataFrame({
     'A':['A0','A1','A2'], 
     'B':['B0','B1','B2'],
}, index=['k0', 'k1', 'k2' ])

In [48]:
der = pd.DataFrame({
     'C':['C0','C1','C2'],
     'D':['D0','D1','D2']
}, index=['k0', 'k2', 'k3' ])

In [50]:
#ejecutando el Join que funciona muy similar al merge
izq.join(der)#Es un join hecho directamente hacia los índices

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [51]:
#inner join usando el párametro how
izq.join(der, how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [52]:
izq.join(der, how='left')

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [53]:
izq.join(der, how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [54]:
izq.join(der, how='outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2